<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    description="AKPSUG State Test Accommodation and Roster Plugin" 
    name="AKPSUG State Test Accommodations" 
    version="23.02.19" 
    xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
  <publisher name="Alaska PowerSchool Users Group">
    <contact email="plogan01@kibsd.org"/>
  </publisher>
</plugin>
